/*==========FONTES==========*/

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

/*==========ANIMAÇÃO==========*/

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*==========PÁGINA==========*/

body {
  
  background: linear-gradient(45deg, #3d348b, #7678ed, #ff9770, #ffd670) ;
  background-size: 300% 300%;
  animation: colors 15s ease infinite;  
}

/*==========CABEÇALHO==========*/

h1{
  font-family: 'Akaya Kanadaka', cursive;
  color:azure;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  text-align: center;
}

span {
  color: greenyellow;
}

/*==========APLICAÇÃO==========*/

.main {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  
}

.main__result {

  width: 500px;
  height: 200px;
  border-style: double;
  border-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jomhuria', cursive;
  font-size: 50pt;
  
}

input {
  width: 100px;
  height: 24px;
  margin-left: 0.2rem;
  margin-right: 0.4rem;
  border-radius: 5px;
  border: none;
}

.main__input {
  
  padding-top: 1rem;
  font-family: 'Jomhuria', cursive;
  font-size: 22pt;
  
}

.main__btn {
  
  font-family: 'Jomhuria', cursive;
  font-size: 22pt;
  height: 1.7rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  background: rgb(128, 87, 194);
  color:aliceblue;
}

.main__btn:hover{
  background:#adff2f;
  transition: background 0.4s;
}

.main__error {
  font: normal arial;
  font-size: 11pt;
  color: red;
}
