@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/*==========PÁGINA==========*/

body {
  background: #242261;
     
}

/*==========CABEÇALHO==========*/

h1{
  padding: 16px;
  color: #63a6f7;
}

h2{
  
  font-size: 15pt;
  text-align: center;
  color: #f5f5f5;
  margin-top: 48px;
  padding: 8px;

}

span {
  color: #63a6f7;
}

/*==========APLICAÇÃO==========*/

.main {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  
}

.main__result {

  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#63a6f7;
  border: 2px solid #63a6f7;
  font-size: 50pt;
  border-radius: 24px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4);

}

.input {
  width: 100px;
  border-radius: 4px;
  border: none;
  padding: 8px;
  outline: none;
  font-weight: 700;
}

.main__input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 8px;
  margin-top: 36px;
}

.main__btn {
  background: #63a6f7;
  color:#272669;
  border: none;
  padding: 8px 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
}

.main__btn:hover{
  opacity: 0.9;
  transition: background 0.4s;
  cursor: pointer;
}

.main__error {
  display: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #E3BFBC;
  font-size: 12pt;
  padding: 8px 0;
  border-radius: 4px;
  margin: 36px 12px;
  border-left: 4px solid #c43541;
  color: #c43541;
 
}


@media screen and (max-width:500px) {
  h1 {
    
    text-align: center;
  }
}

@media screen and (max-width:480px){
  
  .main__result {
    width: 100%;
  }
}

@media screen and (max-width: 375px){

  .main__result {
    margin-top: 48px;
  }

  .main__input {
    max-width: 90%;
    flex-wrap: wrap;
    gap: 18px;
    margin: 24px auto;
  }
  
  .main {
    padding: 6px;
  }
}
